@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.root {
    -fx-background-color: #DFE9F2;
    -fx-font-family: 'Merriweather';
}

.button {
    -fx-background-color: #007BFF;
    -fx-font-size: 15;
    -fx-border-color: #0056b3;
    -fx-text-alignment: center;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-border-style: solid;
    -fx-text-fill: #FFFFFF;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5, 0.0, 0, 1);
    -fx-padding: 10px 20px;
    -fx-min-width: 30px;
    -fx-min-height: 10px;
}

.button:hover {
    -fx-background-color: #0056b3;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #007BFF;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 3, 0.0, 0, 1);
}

.button:pressed {
    -fx-background-color: #004085;
    -fx-border-color: #003057;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 3, 0.0, 0, 1);
    -fx-text-fill: #FFFFFF;
}

.text-field{
    -fx-max-width: 400px;
    -fx-max-height: 70px;
    -fx-font-size: 15;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-border-style: solid;
    -fx-border-color: #0056b3;
    -fx-border-width: 2px;
    -fx-padding: 10px 20px;
}

.label_title {
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

.error{
    -fx-text-fill: red;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}